body {
    background-color: white;
    font-family: "Kanit", sans-serif;
    font-size: 10px;
}

.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    padding: 20px;
}

.header {
    font-size: 30px;
    text-align: center;
}

.header-form {
    width: 140px;
}

.flex {
    display: flex;
    align-items: center;
}

.form-input {
    margin-bottom: 10px;
}

.gender {
    display: flex; 
    align-items: center;
}

.form-gender {
    display: flex; 
    align-items: center;
    gap: 10px;
}

input.form, textarea {
    border: 1px gainsboro solid;
    width: 100%;
}
