body {
        background-color: white;
        font-family: "Kanit", sans-serif;
        font-size: 10px;
}

.container{
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        background-color: azure;
        padding: 20px;
        box-sizing: border-box;
}

.header{
        font-size: 30px;
        text-align: center;
}

.header-form{
        width: 140px;
}

.flex{
        display: flex;
}
.form-input{
        margin-bottom: 10px;
        
}

.gender{
        display: flex; 
}

.form-gender{
        align-items: center;
        margin-left: 80px;
}

input.form, textarea{
        border: 1px gainsboro solid;
        width: 100%;
}

.test{
        border: 0; width: 100%; 
        height: 40px; 
        background-color: #2962ff;
        color: white;
        width: 50%;
}

@media screen and (max-width: 768px){
        .flex{
                flex-direction: column;
        }

        .header{
                font-size: 24px;
        }
        .test{
                width: 100%;
        }
        .form-gender{
                margin: 0;
                align-items:start;
        }
}




